.header{
    background-color: #04192E;
    display:block;
    padding:3%;
    color:white;
    font-size:26px;
    
    
}



@media  (min-width: 320px) and (max-width:1024px){
    .image{
        width:auto;
    }
}