<div class="container">
  <div class="row text-center" *ngIf="currentHouse">
    <div class="col-md-12" *ngFor="let houseDetails of currentHouse">
      <h2>{{ houseDetails.name }}</h2>
      <div class="border"></div>

      <br>
      <br>
      <p>
        <b>URL:</b> {{houseDetails.url}}</p>
      <p>
        <b>Region:</b>{{houseDetails.region}}</p>
      <p>
        <b>coatOfArms:</b>{{houseDetails.coatOfArms}}</p>
      <p>
        <b>titles:</b>{{houseDetails.titles}}</p>
      <p>
        <b>seats:</b>{{houseDetails.seats}}</p>

      <p>
        <b>currentLord:</b>{{houseDetails.currentLord}}</p>
      <p>
        <b>heir:</b>{{houseDetails.heir}}</p>
      <p>
        <b>overlord:</b>{{houseDetails.overlord}}</p>
      <p>
        <b>founded:</b>{{houseDetails.founded}}</p>

      <p>
        <b>founder:</b>{{houseDetails.founder}}</p>

      <p>
        <b>diedOut:</b>{{houseDetails.diedOut}}</p>

      <p>
        <b>ancestralWeapons:</b>{{houseDetails.ancestralWeapons}}</p>
      <p>
        <b>cadetBranches:</b>{{houseDetails.cadetBranches}}</p>

      <p *ngIf="houseDetails.swornMembers.length>1">
        <b>swornMembers:</b>
        <span *ngFor="let swornMembers of houseDetails.swornMembers;let first=first;let last=last">{{ swornMembers }}{{ last ? '' : ', ' }}</span>
      </p>




    </div>
  </div>
</div>