<div class="container" style="text-align:center">
  <div class="row" style="text-align:center">
    <div class="col-md-12" style="font-size:22px">Books </div>
    <br>
    <br>
    <br>
    <br>
  </div>
  <input class="form-control"  type="text" placeholder="Search Your Favourite Books" name="search" [(ngModel)]="filter">      
<br><br>
  <div class="row" style="text-align:center" *ngIf="allBooks.length>0" >
    <div *ngFor="let book of allBooks | filter:filter " class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">{{book.name | uppercase}}</div>
        <div class="panel-body">

          <p>{{book.isbn}}</p>
        </div>
        <div class="panel-footer">author {{book.authors}}
          <br/> Publisher {{book.publisher}}
          <br/>
          <br/>
          <a [routerLink]="['/book',book.name]" class="btn btn-primary">Read</a>

        </div>

      </div>

      <br/>
    </div>

  </div>
  
  <br>
</div>